
body {
    background-color: #000000;
    color: #000000;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode',
        'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin:0%;
}

header img {
    display: flex;
    height: 110px;
}
.head{
    display: flex;
}
header {
    display: flex;
    flex-direction: row;
    background-color: #000000;
    color: #000000;
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode',
        'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav {
    font-weight: bold;

    text-align: left;
}

nav a {
    text-decoration: none;

}

nav a:link {
    color: #000000;
}

nav a:visited {
    color: #383838
}

nav a:hover {
    color: #00027f;
}

nav ul {
    display: flex;
    color: #000000;
    list-style-type:none;
    font-weight: bold;
}

nav li {
    padding-right: 80px;
}

.slogan {
    text-align: center;
    color: #000000;
    font-size: 32px;
}

h1 {
    text-align: center;
    height: 48px;
    color: #ffffff;
}

h2 {
    color: #ffffff;
    font-size: 20px;
    font-family: sans-serif;
}

main {
    width:min-content;
    height:min-content;
    background-color: #055149;
    align-content: normal;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode',
        'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
section{
    display: flex;
}
aside {
    font-size: 80px;
    color:#ffffff;
    text-align: center;
    text-size-adjust: auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode'
        , 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

article img {
    max-width: max;
    max-height: 100%;
}

footer {
    height: max-content;
    font: size 12px;
    color: #ffffff;
    text-align: center;
    font-style: italic;
    background-color: #000000;
}
header,
nav,
main,
footer {
    display: block;
}